<nav class="navbar sticky-top navbar-expand navbar-dark flex-column flex-md-row bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" routerLink="/">⛅️ 引く</a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="navbar-item">
                <a class="nav-link" routerLink="/beatmap">Beatmaps
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/match">Matches
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/">Replays
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/score">Score
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/user">User
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/user-best">User Best
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/user-recent">User Recent
                    <span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
